@import "~styles/index.scss";

.Detail {
  height: 100%;
  box-sizing: border-box;
  max-width: $maxWidth;
  margin: auto;
  position: relative;
  overflow-x: auto;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
}

.list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}
