@import '~styles/index.scss';

.Welcome {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  max-width: $maxWidth;
  margin: auto;
  user-select: none;
  position: relative;
}

.title {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  text-align: center;
}

.button {
  display: inline-block;
  background: transparent;
  outline: none;

  font-size: 1.3em;

  @include disableDefaultButtonStyle;

  background-color: white;
  border-radius: 999em;
  color: black;
  padding: 0.35rem 1.25rem;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media (hover: none) {
    &:hover:active {
      opacity: 0.5;
    }
  }

  // color: white;
  // font-size: 1.3em;
  // border: 0;
  // cursor: pointer;
  // font-family: Jost, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // transition: opacity linear 0.1s;
  // opacity: 1;
  // user-select: none;
  // -webkit-user-select: none;
  // -webkit-tap-highlight-color: transparent;
  // -webkit-focus-ring-color: white;

  // @media (hover: hover) {
  //   &:hover {
  //     opacity: 0.7;
  //   }

  //   &:active {
  //     opacity: 0.5;
  //   }
  // }

  // @media (hover: none) {
  //   &:hover:active {
  //     opacity: 0.5;
  //   }
  // }
}
