@import "~styles/index.scss";

.Welcome {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidth;
  margin: auto;
  user-select: none;
}

.title {
  font-weight: normal;
}

.button {
  font-size: 1.2em;
}
