.Project {
  text-align: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.timing {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.5rem 0;
  text-align: left;
  // width: 10rem;
}

// .line {
//   display: flex;
// }

.label {
  display: inline-block;
  padding-right: 0.4rem;
  color: #aaafae;
  // flex: 1 1 auto;
}
